<html class="dark">

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.1">
   <link rel="stylesheet" href="{{ .BaseURL }}/public/css/posts.css">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-light.min.css">
   <link rel="stylesheet/less" type="text/css" href="{{ .BaseURL }}/public/less/mdstyle.less">
   <script src="//cdn.jsdelivr.net/npm/less@4"></script>
   <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
   <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
   <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

</head>

<body>
   <nav>
      <details id="-catalog" class="o1180 nav-cat">
         <summary>
            <svg width="38" height="38" viewBox="0 0 48 48" fill="none">
               <path d="M7.94971 11.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
               <path d="M7.94971 23.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
               <path d="M7.94971 35.9497H39.9497" stroke="#000" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
         </summary>
         <div>
            {{range $i, $v := .Catalog}}
            <a href="{{$v.Href}}" class="H{{$v.Level}}">{{$v.Title}}</a>
            {{end}}
         </div>
      </details>
      <div class="nav-part">
         <div class="nav-uses">{{template "lang"}}</div>
         <div class="nav-uses">{{template "color-mode"}}</div>
      </div>
   </nav>
   
   <div class="markdown">
      {{template "overview"}}
      {{template "MarkdownRenderer" .}}
   </div>
   {{template "totop"}}
   <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
   <script src="{{ .BaseURL }}/public/js/index.js"></script>
</body>

</html>