{{define "overview"}}
<div class="overview" id="-overview-x" class="drags">
  <details class="o1180">
    <summary>
      <svg width="38" height="38" viewBox="0 0 48 48" fill="none">
        <path d="M34 10V4H8V38L14 35" stroke="#333333" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M14 44V10H40V44L27 37.7273L14 44Z" fill="#00c0ff" stroke="#333333" stroke-width="3"
          stroke-linejoin="round" />
      </svg>
    </summary>
    <div id="-overview"></div>
  </details>
</div>
<div class="overview" id="-overview-m">
  <details open>
    <summary>
      <svg width="38" height="38" viewBox="0 0 48 48" fill="none">
        <path d="M34 10V4H8V38L14 35" stroke="#333333" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M14 44V10H40V44L27 37.7273L14 44Z" fill="#00c0ff" stroke="#333333" stroke-width="3"
          stroke-linejoin="round" />
      </svg>
    </summary>
    <div id="-m-overview"></div>
  </details>
</div>
{{end}}